html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map_canvas{
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    
}

.menu{
    width: 100%;
    height: 20%;
}

.menu:after{
    content: "";
    display: block;
    clear: both;
}

.missionBox{
    float: left;
    width: 100%;
    height: 30%;
    background-color: #800000;
}

.pointBox {
    float: left;
    width: 50%;
    height: 70%;
    background-color: #dc143c;
    background-image: url(../img/point.png), url(../img/takumi2.png);
    background-repeat:  no-repeat, no-repeat;
    background-position:right center, left center;
    
}

.cameraBox {
    float: left;
    width: 50%;
    height: 70%;
    background-image:  url(../img/camera.png), url(../img/sayagata.gif);
    background-repeat:  no-repeat,repeat;
    background-position:center bottom, center center;
}

.camera_back {
    width: 100%;
    height: 70%;
}

#canvassample{
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
    
}

.result {
    width: 100%;
    height: 19%;
}   

.result:after{
    content: "";
    display: block;
    clear: both;
}

.areaBox {
    float: left;
    width: 70%;
    height: 100%;
    background: red;
}

.backButton {
    float: left;
    width: 30%;
    height: 100%;
    background: blue;
}

p {
    color: white;
}

.pointBox p {
    font-size: x-large;
    color: white;
    text-align: center;
}

.cameraBox p {
    font-size:smaller;
    font-style: bold;
    color:  #800000;
    text-align: center;
}
